[submodule "HazelNK/vendor/fmt"]
	path = HazelNK/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "HazelNK/vendor/GLFW"]
	path = HazelNK/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "HazelNK/vendor/eventpp"]
	path = HazelNK/vendor/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "HazelNK/vendor/spdlog"]
	path = HazelNK/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
